@import 'tailwindcss';

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer/Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer/VariableItalic.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/fonts/PlayfairDisplay/Variable.ttf') format('truetype');
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/fonts/PlayfairDisplay/VariableItalic.ttf') format('truetype');
  font-weight: 400 900;
  font-display: swap;
  font-style: italic;
}

@utility trim {
  text-box: trim-both cap alphabetic;
}

@utility trim-cap {
  text-box: trim-both cap alphabetic;
}

@utility trim-ex {
  text-box: trim-both ex alphabetic;
}

@utility trim-none {
  text-box-trim: none;
}

@utility trim-start {
  text-box-trim: trim-start;
}

@utility trim-end {
  text-box-trim: trim-end;
}

html {
  font-family: 'Switzer', 'Calibri';
  overflow-y: scroll;
  overflow-x: hidden;
}
html.lenis,
html.lenis body {
  height: auto;
  -ms-overflow-style: none;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

*::selection {
  background: #4a4a48;
  color: #fcfcf6;
}
*::-moz-selection {
  background: #4a4a48;
  color: #fcfcf6;
}
*::-webkit-selection {
  background: #4a4a48;
  color: #fcfcf6;
}

@layer components {
  .scene-navbar {
    z-index: 90;
  }

  .scene-overflow {
    z-index: 80;
  }

  .scene-fallback {
    z-index: 70;
  }

  .scene-over {
    z-index: 60;
  }

  .scene-behind {
    z-index: 40;
  }
}
